{% extends 'base.html.twig' %}

{% block title %}Nieuwe Klant{% endblock %}

{% block body %}
    <h1>Creëer nieuwe Klant</h1>

    {{ include('costumer/_form.html.twig') }}

    <a href="{{ path('costumer_index') }}">Terug naar lijst</a>
{% endblock %}
