{% extends 'base.html.twig' %}

{% block title %}Nieuwe Onderhoud{% endblock %}

{% block body %}
    <h1>Creëer een nieuwe Onderhoud</h1>

    {{ include('maintenance/_form.html.twig') }}

    <a href="{{ path('maintenance_index') }}">Terug naar lijst</a>
{% endblock %}
